<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ML API</title>
    </head>

<body>
    <h1>Elykid</h1>

    <form action="{{_url_for('predict')}}"method="post">
        <input type="text" name="Input" placeholder="Input" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}
</body>
</html>